.cards{
    margin-top: 3rem;
    
}

.card{
   margin-right: 50px;
   margin-top: 2rem;
   border: solid #000000;
   border-radius: 20px;
   background-color: rgb(175, 182, 182);
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    background-color: rgb(155, 161, 159);
}
.card img{
    border-radius: 20px;
}
